<% unless user_signed_in? %>
  <h1>Content#index (Contents)</h1>
<% else %>
  <%=h1 "Contents#index User: #{current_user.login_id}" %>>
<% end %>
<div>
  <% @contents.each do |f| %>
    <div style="display:block">
      <%=f.name %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.content %>
    </div>
    <br />
  <% end %>
</div>
<div>
  <%= link_to "New", new_content_path %>
</div>
